body {
  color: #FEFEFE;
  background-color: #000000;
  margin: 0 auto;
  padding: 1em 0 1em 0;
}
a { 
  color: #93ffd7; 
  text-decoration: none; 
}
@font-face { 
  font-family: "unifont"; 
  src: url("./unifont.woff") format('woff'); 
}
pre { 
  font-family: "unifont", "Lucida Console", monospace, Monaco; 
  font-size:16px; 
  line-height: 1.0;
  padding-left: 20px;
}
.txtdiv {
  display: block;
  text-align: left;
}
x { color: #93f1ff; } /* blue - complimentary to <a> tag for highlighting */
hl { color: white; background-color: #4f4b54;  } /* for block quotes */

/* custom abx */
.asmy {
  color: #ffd400;  /* bright readable yellow on black */
  font-weight: bold;
}

.txtdiv {
    max-width: 60vw;
}

.txtdiv pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

g { color:#bdffcd; } /* This is a nice green if you need */
w { color: white;   }
p { color: #ff87ff; } /* pink   */
o { color: #87ffff; } /* blue   */
y { color: #ffff00; } /* yellow */
e { color: #93ffd7; } /* green  */
r { color: #fa4d57; } /* red    */

/* PrismJS 1.30.0
https://prismjs.com/download.html?utm_source=chatgpt.com#themes=prism-tomorrow&languages=markup+css+clike+javascript+batch+c+csharp+cpp+go+nasm+powershell+python+rust */
code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}


/* For small badge */
/* https://getbootstrap.com/docs/4.0/getting-started/introduction/
https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css */
.pagination-sm .page-item:last-child .page-link{border-top-right-radius:.2rem;border-bottom-right-radius:.2rem}.badge{display:inline-block;padding:.25em .4em;font-size:75%;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem}.badge:empty{display:none}.btn .badge{position:relative;top:-1px}.badge-pill{padding-right:.6em;padding-left:.6em;border-radius:10rem}.badge-primary{color:#fff;background-color:#007bff}.badge-primary[href]:focus,.badge-primary[href]:hover{color:#fff;text-decoration:none;background-color:#0062cc}.badge-secondary{color:#fff;background-color:#6c757d}.badge-secondary[href]:focus,.badge-secondary[href]:hover{color:#fff;text-decoration:none;background-color:#545b62}.badge-success{color:#fff;background-color:#28a745}.badge-success[href]:focus,.badge-success[href]:hover{color:#fff;text-decoration:none;background-color:#1e7e34}.badge-info{color:#fff;background-color:#17a2b8}.badge-info[href]:focus,.badge-info[href]:hover{color:#fff;text-decoration:none;background-color:#117a8b}.badge-warning{color:#212529;background-color:#ffc107}.badge-warning[href]:focus,.badge-warning[href]:hover{color:#212529;text-decoration:none;background-color:#d39e00}.badge-danger{color:#fff;background-color:#dc3545}.badge-danger[href]:focus,.badge-danger[href]:hover{color:#fff;text-decoration:none;background-color:#bd2130}.badge-light{color:#212529;background-color:#f8f9fa}.badge-light[href]:focus,.badge-light[href]:hover{color:#212529;text-decoration:none;background-color:#dae0e5}.badge-dark{color:#fff;background-color:#343a40}.badge-dark[href]:focus,.badge-dark[href]:hover{color:#fff;text-decoration:none;background-color:#1d2124}

/* <s> - line potong */